@page
@model CPTest.Pages.AppModifyModel
@{
}
<div class="container">
    <h1 style="text-align:center">Modify appt for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>

    <div class="row mb-5 g-5" style="text-align:center">
        <h2>@Model.staffMember.NAME, @Model.clinicVenue.NAME, @Model.appointment.BOOKED_DATE.Value.ToString("dd/MM/yyyy") at @Model.appointment.BOOKED_TIME.Value.ToString("HH:mm")</h2>
    </div>
    <form method="post">
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Modify appointment location/clinician:</label>
            </div>
            <div class="col-md-3">
                <select name="AppWith1" id="ddlClinician" asp-for=@Model.staffMember.STAFF_CODE>
                   @*<option selected value=@Model.StaffMember.STAFF_CODE>@Model.StaffMember.NAME</option>*@
                    @foreach (var item in Model.staffMemberList)
                    {
                        <option value=@item.STAFF_CODE>@item.NAME</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select name="AppLocation" id="ddlClinic" asp-for=@Model.clinicVenue.FACILITY>
                    @*<option selected value=@Model.ClinicVenue.FACILITY>@Model.ClinicVenue.NAME</option>*@
                    @foreach (var item in Model.clinicVenueList)
                    {
                        <option value=@item.FACILITY>@item.NAME</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-2">Additional Clinicians:</div>
            <div class="col-md-2">
                <div class="row">
                    <select name="appWith2" asp-for=@Model.appointment.STAFF_CODE_2>
                        <option selected value=""></option>
                        @foreach (var s in Model.staffMemberList)
                        {
                            <option value=@s.STAFF_CODE>@s.NAME</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <select name="appWith3" asp-for=@Model.appointment.STAFF_CODE_3>
                        <option selected value=""></option>
                        @foreach (var s in Model.staffMemberList)
                        {
                            <option value=@s.STAFF_CODE>@s.NAME</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <select name="appType" asp-for=@Model.appointment.AppType>
                    @foreach (var t in Model.appTypeList)
                    {
                        <option value=@t.APP_TYPE>@t.APP_TYPE</option>
                    }
                </select>
            </div>           
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Change date/time/duration:</label>
            </div>
            <div class="col-md-4">
                <input type="date" name="dNewDate" asp-for=@Model.appointment.BOOKED_DATE />
            </div>
            <div class="col-md-4">
                <input type="time" name="dNewTime" asp-for=@Model.appointment.BOOKED_TIME />
            </div>
            <div class="col-md-2">
                <input type="text" class="w-50" name="iDuration" asp-for=@Model.appointment.Duration/>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Cancel appointment:</label>
            </div>
            <div class="col-md-1">
                <input type="checkbox" class="form-check-input" id="chkCancelAppt" onclick="ShowCancelMenu()" />
            </div>
            <div class="col-md-6">
                <select id="ddlCancelAppt" name="sCancel" hidden=true>
                    <option selected value=""></option>
                    @foreach (var o in Model.outcomeList)
                    {
                        <option value=@o.CLINIC_OUTCOME>@o.CLINIC_OUTCOME</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="submit" id="btnConfirm" class="btn btn-success">Confirm</button>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnCancel" class="btn btn-success">Cancel</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>

<script>

    //document.getElementById("btnConfirm").addEventListener("click", Confirm);
    document.getElementById("btnCancel").addEventListener("click", GoBack);
    document.onload(HideMenu());

    function Confirm()
    {
        
    }

    function GoBack()
    {
        window.close();
    }

    function HideMenu()
    {
        document.getElementById("TopMenu").hidden = true;
    }

    function ShowCancelMenu() 
    { 

        if (document.getElementById("chkCancelAppt").checked) 
        {
            document.getElementById("ddlCancelAppt").hidden = false;
        }
        else 
        {
            document.getElementById("ddlCancelAppt").hidden = true;
        }
    }
 
</script>