@page
@model ClinicDayViewModel
@{
    ViewData["Title"] = "Clinic Day View";
}

<div class="container">

    <form id="ClinicSelect">
        <div class="row mb-5 g-5">
            <div class="col-md-2" align="right">
                <label>Clinic Date:</label> @*used to set the week view*@
            </div>
            <div class="col-md-4">
                <input id="wcDate" name="dClinicDate" type="date" asp-for=@Model.dDate onchange="RefreshForm()" />
            </div>
        </div>

        
    </form>


    <div class="row">        

        <div class="col-md-12">
            <form id="ClinicForm" method="post">
                <table id="ClinicMatrix" class="table table-bordered">
                    <thead>
                    <th>Time:</th>
                    @foreach(var item in Model.ClinicArray)
                    {
                        <th>@item</th>
                    }
                    
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TimeArray)
                        {
                            <tr id=@item.ToString("HH:mm")>
                                <th scope="row">@item.ToString("HH:mm")</th>
                                @foreach (var header in Model.ClinicArray)
                                {
                                    <td id="@(@item.ToString("HH:mm")) + ' ' + @header)" class="whitetext" ondblclick="OnDoubleClickAP(id)"></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>

    document.onload(LoadClinics());
        
    function RefreshForm() 
    {
        document.getElementById("ClinicSelect").submit();
    }
        
    //Double click functions (called by double-clicking on slots/appointments/waiting list entries)
    
    function OnDoubleClickAP(id) 
    {
        if (document.getElementById(id).innerHTML.includes("Booked")) 
        {
            const str = document.getElementById(id).innerHTML;
            const sRID = str.slice(str.indexOf('R:') + 2, str.length - 7);
            //window.location.replace("AppModify?refID=" + sRID);
            window.location.replace("AppDetailOptions?sRefID=" + sRID);
        }
        else if (document.getElementById(id).innerHTML.includes("PAST")) 
        {
            window.alert("This is in the past, you cannot edit this.");
        }
    }
    
    //Called at the start - sets the clinic matrix view
    function LoadClinics() 
    {
        var cMatrix = document.getElementById("ClinicMatrix");
        var apptDateArray = [];
        var apptTimeArray = [];
        var apptDurationArray = [];
        var apptClinicArray = [];
        var apptClinicianArray = [];
        var apptOutcomeArray = [];
        var apptRefIDArray = [];        
        var pedNoArray = [];
        var pedNameArray = [];

        const today = new Date();
        const rightnow = today.getHours() + ":" + today.getMinutes();
        today.setHours(0, 0, 0, 0);
            

        @if (Model.appointmentList != null) 
        {
            @foreach (var item in Model.appointmentList)
            {
                @:apptDateArray.push("@item.BOOKED_DATE");
                @:apptTimeArray.push("@item.BOOKED_TIME");
                @:apptDurationArray.push("@item.Duration");
                @:apptClinicArray.push("@item.FACILITY");
                @:apptClinicianArray.push("@item.Clinician");
                @:pedNoArray.push("@item.FamilyNumber");
                @:apptOutcomeArray.push("@item.Attendance");
                @:apptRefIDArray.push("@item.RefID");
                @:pedNameArray.push("@item.FamilyName");
            }
        } 
        if (apptClinicArray.length != 0 && apptTimeArray.length != 0) 
        {            
            for (var i = 0, row; row = cMatrix.rows[i]; i++) 
            {
                if (i > 0) 
                {
                    for (var j = 0, col; col = row.cells[j]; j++) 
                    {                        
                        if (j > 0) 
                        {
                            var theTime = col.id.substring(0, 5);
                            var theClinic = col.id.substring(14, col.id.length-1);
                            
                            for (var k = 0; k < apptClinicArray.length; k++) 
                            {
                                if (theClinic == apptClinicArray[k]) 
                                {
                                    for (var l = 0; l < apptTimeArray.length; l++) 
                                    {
                                        const myTime = apptTimeArray[k].substring(11, 16);
                                        var strApptDetail;
                                        if (myTime == theTime) 
                                        {
                                            if (apptOutcomeArray[k] != "Declined" & apptOutcomeArray[k] != "Cancelled by patient" & apptOutcomeArray[k] != "Cancelled by professional") 
                                            {
                                                document.getElementById(col.id).classList.add("currentappt");

                                                strApptDetail = "Booked - " + apptDurationArray[k].toString() + " mins</br> " +
                                                apptClinicianArray[k] + "</br> " +
                                                apptClinicArray[k] + "</br>" +
                                                //apptOutcomeArray[k] + "</br>R:" +
                                                pedNoArray[k] + " (" + pedNameArray[k] + ")" + "</br><span hidden='true'>R:" +
                                                apptRefIDArray[k].toString() + "</span>";
                                                document.getElementById(col.id).innerHTML = strApptDetail;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



</script>