@page
@model CPTest.Pages.WLModifyModel
@{
}

<div class="container">

    <div class="row mb-5 g-5">
        @if(Model.patient != null)
        {
            <h1 class="text-center">Modify Waiting List Entry for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>
        }
    </div>
    <form method="post">
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>New Clinician:</label>
            </div>
            <div class="col-md-3">
                <select id="ddlClinician" name="clinicianID" asp-for=@Model.staffMember.STAFF_CODE>
                    @foreach (var item in Model.staffMemberList)
                    {
                        <option value=@item.STAFF_CODE>@item.NAME</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>New clinic:</label>
            </div>
            <div class="col-md-3">
                <select id="ddlClinic" name="clinicID" asp-for=@Model.clinicVenue.FACILITY>
                    @*@if (Model.ClinicVenue != null)
                    {
                        <option selected value=@Model.ClinicVenue.FACILITY>@Model.ClinicVenue.NAME</option>
                    }*@
                    @foreach (var item in Model.clinicVenueList)
                    {
                        <option value=@item.FACILITY>@item.NAME</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-4">
                <label>Remove from Waiting List</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" class="form-check-input" id="chkIsWLRemoval" value="false" onclick="SetWLRemovalCheckBox()" />
            </div>
            <div class="col-md-6" hidden="true">
                <input type="text" id="txtIsWLRemoval" name="isRemoval" />
                <input type="text" name="mpi" asp-for=@Model.patient.MPI />
                <input type="text" name="oldClinicianID" asp-for=@Model.staffMember.STAFF_CODE />
                <input type="text" name="oldClinicID" asp-for=@Model.clinicVenue.FACILITY />
            </div>
        </div>
        
        <div class="row mb-5 g-5">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="submit" id="btnConfirm" class="btn btn-success">Confirm</button>
            </div>  
            <div class="col-md-2">
                <button type="button" id="btnCancel" class="btn btn-success">Cancel</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>

<script>

    //document.getElementById("btnConfirm").addEventListener("click", Confirm);
    document.getElementById("btnCancel").addEventListener("click", GoBack);
    document.onload(HideMenu());

    function Confirm()
    {
        //window.alert("Okay!");
    }

    function GoBack()
    {
        //window.close();
        window.location.replace("Index");
    }

    function HideMenu()
    {
        document.getElementById("TopMenu").hidden = true;
    }

    function SetWLRemovalCheckBox() 
    { 
        //because it cannot simply pass the state of the checkbox to the C#, for some reason!!!
        document.getElementById("txtIsWLRemoval").value = document.getElementById("chkIsWLRemoval").checked;
    }
 
</script>